@using Hospital_App.Models
@model Hospital_App.CollectionViewModel.SuburbCollection
@{
    ViewData["Title"] = "Add Suburb";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Suburb</li>
        <li class="active">Add Suburb</li>
    </ol>
</div>
<div class="container px-6 mx-auto grid">
    <h2><b>@ViewData["Title"]</b></h2>

    <form method="post" asp-action="AddSuburb">
        <hr />
        <div class="form-horizontal">

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Suburb.SuburbName" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Suburb.SuburbName" class="form-control" />
                <span asp-validation-for="Suburb.SuburbName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Suburb.PostalCode" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Suburb.PostalCode" class="form-control" type="text" />
                <span asp-validation-for="Suburb.PostalCode" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Suburb.CityID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="Suburb.CityID" asp-items="@(new SelectList(Model.Cities, "CityID", "CityName"))" class="form-control">
                    <option value="">Select City</option>
                </select>
                <span asp-validation-for="Suburb.CityID" class="text-danger"></span>
            </div>
        </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Add Suburb</button>
                </div>
            </div>

        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
