@model Hospital_App.Models.Nurse
@{
    ViewData["Title"] = "Update Nurse";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Nurse</li>
        <li class="active">Update Nurse</li>
    </ol>
</div>
<div class="container px-6 mx-auto grid">

<h2><b>@ViewData["Title"]</b></h2>


    <form method="post" asp-action="UpdateNurse">
        <input asp-for="NurseID" hidden />


        <hr />

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Surname"></label>
            <input asp-for="Surname" class="form-control" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IDNumber"></label>
            <input asp-for="IDNumber" class="form-control" />
            <span asp-validation-for="IDNumber" class="text-danger"></span>
        </div>

    

        <button type="submit" class="btn btn-primary">Update</button>
    </form>





</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}